.flyout {
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30rem;
  height: 4rem;

  background-color: var(--color-main);
  border-radius: 2rem 2rem 0 0;
  box-shadow: 0 -10px 20px rgb(30 30 30 / 25%);

  transition: 0.5s ease-in-out;
}

.hidden {
  transform: translateY(+100%);
}

.show {
  transform: translateY(-110%);
}

.content {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 8rem;
    height: 2.5rem;
  }
}

.wrapper {
  width: 6rem;
  text-align: center;
}

@media screen and (width <=680px) {
  .flyout {
    width: 23rem;

    button {
      width: 6rem;
    }
  }
}
