.header {
  position: fixed;
  z-index: 2;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin: 0 3rem;

  background-color: var(--color-main);
  box-shadow: 0 10px 20px rgb(30 30 30 / 25%);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 85%;
  max-width: 76rem;

  .title {
    font-size: 2rem;
  }

  @media screen and (width <=768px) {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .title {
      font-size: 1.5rem;
    }
  }

  @media screen and (width <=680px) {
    gap: 1rem;
    justify-content: flex-start;

    .link {
      display: none;
    }

    .wrapper:first-child {
      flex-grow: 2;
    }

    .wrapper:last-child {
      width: 5rem;
    }
  }
}

.wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-end;

  margin-right: 1rem;

  @media screen and (width <=680px) {
    gap: 1rem;
    width: 100%;
    margin-right: 0;
  }
}

.logo {
  width: 3rem;
}
