.header {
  position: fixed;
  z-index: 2;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin: 0 3rem;

  background-color: var(--color-main);
  box-shadow: 0 10px 20px rgb(30 30 30 / 25%);

  transition: 0.3s;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 76rem;

  .title {
    font-size: 2rem;
  }

  @media screen and (width <=1295px) {
    width: 57rem;
  }

  @media screen and (width <=986px) {
    width: 38rem;
  }

  @media screen and (width <=768px) {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .title {
      font-size: 1.5rem;
    }
  }

  @media screen and (width <=677px) {
    gap: 1rem;
    width: 90%;

    .wrapper {
      gap: 1rem;
    }
  }

  @media screen and (width <=569px) {
    .link {
      display: none;
    }
  }

  @media screen and (width <=419px) {
    padding: 0;
  }
}

.wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 3rem;
}
