.item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 1rem;
  padding: 1rem;

  background-color: var(--color-main);
  border-radius: 2rem;

  transition: 0.3s;
}

.link:hover {
  opacity: 1;
}

.item:hover {
  cursor: pointer;
}

.title {
  margin-top: 0;
}

.description {
  margin: 0;
  margin-top: 1rem;
}

.image {
  width: 15rem;
  min-height: 20.9rem;
  background-color: burlywood;
  border-radius: 8px;
}
