#root {
  width: 100%;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color: rgba(255, 255, 255, 0.9);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: inherit;
  border-bottom: 1px solid rgb(248, 134, 28);
  transition: 0.3s;
}

a:hover {
  color: rgb(16, 80, 14);
  border-bottom: 1px solid rgb(16, 80, 14);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #17630d;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.9);
  background-color: #ff1c1c;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: #de1818;
}
