.footer {
  position: fixed;
  z-index: 2;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: 2rem;
  padding: 0.5rem;

  background-color: var(--color-main);
  box-shadow: 0 -10px 20px rgb(30 30 30 / 25%);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 76rem;

  @media screen and (width <=1295px) {
    width: 57rem;
  }

  @media screen and (width <=986px) {
    width: 38rem;
  }

  @media screen and (width <=677px) {
    width: 90%;
  }
}

.logo {
  width: 3rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
}

@media (hover: hover) {
  link:hover {
    border-bottom: none;
  }
}
