.form {
  display: flex;
  gap: 1rem;
  align-items: center;

  width: 83%;
  max-width: 74rem;
  margin-top: 6.5rem;
  padding: 1rem;

  background-color: var(--color-main);
  border-radius: 1rem;

  @media screen and (width <=768px) {
    margin-top: 10rem;
  }

  @media screen and (width <=680px) {
    flex-wrap: wrap;
  }

  @media screen and (width <=374px) {
    margin-top: 12rem;
  }
}

.input {
  flex-grow: 2;

  height: 2.5rem;

  font-family: inherit;
  font-size: inherit;
  text-indent: 0.5rem;

  border: 1px solid #ffb749;
  border-radius: 8px;
}

.input[type='search']::-webkit-search-cancel-button {
  cursor: pointer;

  width: 16px;
  height: 16px;
  margin-right: 0.5rem;

  appearance: none;
  background: url('/cross.svg');
  background-size: contain;

  transition: 0.3s;
}

.input:focus {
  outline: 2px solid #ffb749;
  outline-offset: -4px;
}

.button {
  min-width: 14.5rem;

  @media screen and (width <=680px) {
    min-width: 100%;
  }
}
